<form asp-controller="Country" asp-action="Create" method="post" enctype="multipart/form-data">
	<div class="mb-3">
		<label class="form-label">Название страны</label>
		<input type="text" class="form-control" name="Name">
	</div>
	<div class="mb-3">
		<label class="form-label">Язык страны</label>
		<input type="text" class="form-control" name="Language">
	</div>
	<div class="mb-3">
		<label class="form-label">Информация о стране</label>
		<textarea class="form-control" name="Information" rows="3"></textarea>
	</div>
	<div class="form-file">
		<input type="file" class="form-file-input" name="Image">
		<label class="form-file-label">Флаг страны</label>
	</div>
	<br />
	<input type="submit" value="Загрузить" />
</form>
@*@model IEnumerable<Place>
<div>
    @foreach (var i in Model)
    {
        if (i != null)
        {
            <p>@i.Name</p>
        }
    }
</div>*@