<table>
    <tr>
        <th>head1</th>
        <th>head2</th>
        <th>head3</th>
    </tr>
    <tr class="dropClick">
        <td>8/2/2013</td>
        <td>$960.00</td>
        <td>$48.14</td>
    </tr>
    <tr class="dropDown">
        <td>
            <table>
                <tr class="dropClick">
                    <td>Data</td>
                    <td>$960.00</td>
                </tr>
                <tr class="dropDown">
                    <td>
                        <table>
                            <tr>
                                <td>data</td>
                            </tr>
                            <tr>
                                <td>data</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!--end dropClick-->
                <!--end dropClick-->
                <tr>
                    <td>Data</td>
                    <td>$873.50</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>$48.14</td>
                </tr>
            </table>
    </tr>
    <!--end dropClick-->
</table>
@section scripts {
    <script>
        $(function () {
            $(".dropDown").hide();
            $(".dropClick").on("click", function () {
                var $nextDrop = $(this).parent().find(".dropDown").first();
                $nextDrop.slideToggle(100);
            });
        });
    </script>
}


    <style>
        td {
            border: 1px solid black
        }

        .dropDown {
            display: none
        }

        .dropClick {
            color: red
        }
    </style>    